* {
	margin: 0;
	padding: 0;
}

body {
	font: normal 14px "Arial", sans-serif;
}

.banner {
	background: url(../img/background.jpg) no-repeat center top; 
	          background-size: cover;
	     -moz-background-size: cover;
	       -o-background-size: cover;
	  -webkit-background-size: cover;
  	background-color: #ccc;
  	padding-bottom: 230px;
}

.wrap {
	width: 1200px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 21px;
}

.logo img {
	width: 60px;
	height: 63px;
}

nav {
	float: right;
	margin-top: 40px;
}

nav li {
	display: table-cell;
	float: left;
	margin-right: 55px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

nav a:hover {
	padding-bottom: 5px;
	color: #fce38a;
	border-bottom: 3px solid #fce38a;
}

header {
	text-align: center;
	padding-top: 153px;
}

header:before {
	content: "";
	display: table;
	clear: both;
}

header:after,
h3:after {
	display: block;
	width: 60px;
	height: 4px;
	margin: 0 auto;
	margin-top: 54px;
    background-color: #fff; 
    content: "";
}

h1 {
	display: table;
	width: 768px;
	height: 256px;
	margin: 0 auto;
	font-size: 150px;
	line-height: 140px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

h2 {
	margin-bottom: 53px;
	font-size: 72px;
	color: #fff;
}

h3 {
	font-style: 48px;
	text-align: center;
	text-transform: uppercase;
			
}

h3:after {
	width: 60px;
	margin-top: 43px;
    background-color: #f38181; 
}

h4 {
	margin-top: 90px;
	margin-bottom: 22px;
	font-style: 24px;
	text-align: center;
}

h5 {
	text-transform: uppercase;
	margin-bottom: 20px;
}

/*Сброс стандартных стилей кнопки*/
button {
	display: block;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.about {
	width: 154px;
	height: 34px;
	color: #fff;
	margin: 0 auto;
	margin-top: 50px;
	text-transform: uppercase;
	border: 3px solid #fff;
}

.about:hover {
	color: #fce38a;
	border: 3px solid #fce38a;
}

.portfolio {
	height: 730px;
}

.portfolio p {
	width: 935px;
	margin: 0 auto;
	margin-top: 50px;
	font-size: 15px;
	text-align: center;
	color: #999;
}

.portfolio img {
	float: left;
	margin-right: 20px;
	margin-top: 105px;
}

.works {
	height: 600px;
	background: #f8f8f8;
}

.works h4 {
	padding-top: 50px;
}

.item {
	position: relative;
	left: 7%;
	float: left;
	width: 330px;
	margin-right: 50px;
	margin-bottom: 100px;
	margin-top: 50px;
}

.news-item {
		overflow: hidden;
}

.item-1 {
	width: 35px;
	height: 55px;
	background: url(../img/icon-digital.png) no-repeat;
	float: left;
	margin-right: 15px;\
}

footer {
	height: 58px;
	background: #ccc;
}

footer img
 {
	display: block;
	margin: 0 auto;
	padding: 5px;
}